In [1]:
import pandas as pd

In [2]:
peru_field3 = pd.read_csv('original_data/Field_Sheets/BDF_2019_3.csv')
peru_field3.head()

,Codigo foto,Carpeta/Subcarpeta,Camara usada,Fecha,Familia,Genero,Especie,Nombre cientifico,Código/ ID del individuo*,Descripcion o Ubicacion,Quebrada-transecto,Colectores,Metodo de captura
0,DSC_0164 - DSC_0165,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Characidae,Moenkhausia,sp. 1,Moenkhausia sp. 1,T1-CV1QCH-01,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
1,DSC_0166 - DSC_0167,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Cichlidae,Laetacara,flavilabris,Laetacara flavilabris,T1-CV1QCH-02,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
2,DSC_0168 - DSC_0169,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Callichthyidae,Corydoras,aeneus,Corydoras aeneus,T1-CV1QCH-03,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
3,DSC_0170 - DSC_0171,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Cichlidae,Laetacara,flavilabris,Laetacara flavilabris,T1-CV1QCH-04,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano
4,DSC_0172 - DSC_0173,"Morona 3ra entrada 2019,nov",Nikon D 3500,Wed Nov 20 00:00:00 EST 2019,Characidae,Moenkhausia,sp. 1,Moenkhausia sp. 1,T1-CV1QCH-05,Chapintsa,T1-30-50,"Morgan, Leo, Peas y wilson",Red de arrastre y red de mano

In [3]:
peru_field3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Codigo foto                528 non-null    object
 1   Carpeta/Subcarpeta         528 non-null    object
 2   Camara usada               528 non-null    object
 3   Fecha                      528 non-null    object
 4   Familia                    528 non-null    object
 5   Genero                     526 non-null    object
 6   Especie                    525 non-null    object
 7   Nombre cientifico          525 non-null    object
 8   Código/ ID del individuo*  528 non-null    object
 9   Descripcion o Ubicacion    528 non-null    object
 10  Quebrada-transecto         528 non-null    object
 11  Colectores                 528 non-null    object
 12  Metodo de captura          528 non-null    object
dtypes: object(13)
memory usage: 53.8+ KB

In [4]:
expanded_rows = []
for index, row in peru_field3.iterrows():
    row_dict = row.to_dict()
    codigo = row_dict['Codigo foto']
    if '-' in codigo:
        codigo_split = codigo.split('-')
        codigo_start = codigo_split[0].strip()
        codigo_end = codigo_split[1].strip()
        num_start = int(codigo_start.split('_')[1])
        num_end = int(codigo_end.split('_')[1])
        for num in range(num_start, (num_end + 1)):
            extra_row = row_dict.copy()
            foto_codigo = 'DSC_' + str(num).zfill(4)
            extra_row['file_name'] = foto_codigo + '.JPG'
            expanded_rows.append(extra_row)
    else:
        row_dict['file_name'] = row_dict['Codigo foto']
        expanded_rows.append(row_dict)
expanded_df = pd.DataFrame(expanded_rows)

In [5]:
expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Codigo foto                1068 non-null   object
 1   Carpeta/Subcarpeta         1068 non-null   object
 2   Camara usada               1068 non-null   object
 3   Fecha                      1068 non-null   object
 4   Familia                    1068 non-null   object
 5   Genero                     1064 non-null   object
 6   Especie                    1062 non-null   object
 7   Nombre cientifico          1062 non-null   object
 8   Código/ ID del individuo*  1068 non-null   object
 9   Descripcion o Ubicacion    1068 non-null   object
 10  Quebrada-transecto         1068 non-null   object
 11  Colectores                 1068 non-null   object
 12  Metodo de captura          1068 non-null   object
 13  file_name                  1068 non-null   object
dtypes: object(14)
memory usage: 116.9+ KB

In [6]:
expanded_df.to_csv('cleaned_data/BDF_2019_3_expanded.tsv',
                   sep='\t', index=False)